body{
  background-color: #02010a;
  color: white;
  font-family: 'Dancing Script', cursive;
}

header{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px #02010a;
  padding: 15px 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}#titulo-izq{
  width: 70%;
  text-indent: 15px;
}#titulo-der{
  width: 30%;
  font-size: 18pt;
  }#titulo-der a, #titulo-der a:hover{
  color: #fff;
  padding: 5px 10px;
}
#titulo-der a + a::before {
  color: #fff;
  text-decoration: none;
}

#primera-fila{
  background: #82c3a6;
  padding: 20px;
}
img{
  width: 100%;
}

#segunda-fila{
	color:black;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #d5c75f;
  min-height: 100px;
  padding: 20px 0;
  box-sizing: border-box;
}
.imagenes{
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 15px;
}

.paisaje{
  border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}
.paisaje:hover{
  transform: rotate(10deg);
}
.rostro{
  border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}
.rostro:hover{
  transform: translate(20px, -5px);
}

footer{
	padding-top: 10px;
	border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
  color: black;
  display: flex;
display: -webkit-flex;
flex-flow: row wrap;
-webkit-flex-flow: row wrap;
padding: 5px 10px;

}

footer .columnas {
width: 25%;
text-align: center;
}

.iconos{
  width: 15px;
}


@media screen and (max-width:1000px){

 #contenido {
    width: 100%;
   	margin: 0 auto;
    min-height: 200px;
 }
 #titulo-izq, #titulo-der{
   width: 100%;
   text-align: center;
 }
 .imagenes{
   width: 100%;
 }
 footer .columnas{
     width: 100%;
     box-sizing: border-box;
   }
}
