#titulo{

    background-color: #5b7989;
    text-align: left;
    padding: 10px;
    display: flex;
   	border-radius: 10px 10px 0 0;
    }

#titulo h1 {
	text-shadow: 0 0 3px #02010a;

}

.solodos {
	display: flex;
	flex-direction: row;
}

#titulo .solodos > div {
  text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;

}


li{
list-style: none;
text-align: right;
padding: 10px;
}
li a{
color: #FFF;
}

ul{
display: flex;
}

#imagen-central{
  background-color: #82c3a6;
  text-align: center;
}

#imagenes-secundarias{
  background-color: #d5c75f;

}

.contenedor {
	display: flex;
	flex-direction: row;
}

#imagenes-secundarias .contenedor > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}

footer{
	padding-top: 10px;
	border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
}

.columnas {
	display: flex;
	flex-direction: row;
}

#piedepagina .columnas > div {
text-align: center;
padding: 10px;
width: 25%;
}
